.App {
  text-align: center;
  border: 2px solid black;
  margin: 100px 100px 100px 100px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 2em;

}

#description {

  height: 200px;
  font-size: 14pt;
}

label {
  display: flex;
  flex-direction: column;
}